spring:
  application:
    name: aqua-api-service

server:
  port: 8090

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    dev.yidafu.aqua: DEBUG